
@model Pizzeria.Models.RegistrationInfo
@{
    ViewData["Title"] = "Registration";
}
<img src="~/image/klet.png" alt="EROR" class="png-fon2-reg" />

<img src="~/image/2.png" alt="EROR" class="png-fon3-reg" />
<img src="~/image/5.png" alt="EROR" class="png-fon4-reg" />

<img src="~/image/klet.png" alt="EROR" class="png-fon5-reg" />

<img src="~/image/klet.png" alt="EROR" class="png-fon6-reg" />

<img src="~/image/klet.png" alt="EROR" class="png-fon7-reg" />

<img src="~/image/klet.png" alt="EROR" class="png-fon8-reg" />

<img src="~/image/klet.png" alt="EROR" class="png-fon10-reg" />

<form method="post" class="form2">
    <h1 class="form-reg-title title-style">Registration</h1>
    <div class="form-group">
        <input type="text" asp-for="WorkerName" class="form-input" id="name" placeholder=" " />
        <label for="name" class="form-label">Name</label>
        @Html.ValidationMessageFor(model => model.WorkerName)
    </div>
    <div class="form-group">
        <input type="text" asp-for="WorkerSurname" class="form-input" id="surname" placeholder=" " />
        <label for="surname" class="form-label">Surname</label>
        @Html.ValidationMessageFor(model => model.WorkerSurname)
    </div>
    <div class="form-group">
        <input type="text" asp-for="WorkerPhone" class="form-input" id="number" placeholder=" " />
        <label for="number" class="form-label">Phone number</label>
        @Html.ValidationMessageFor(model => model.WorkerPhone)
    </div>
    <div class="form-group">
        <input type="text" asp-for="WorkerEmail" class="form-input" id="mail" placeholder=" " />
        <label for="mail" class="form-label">E-mail</label>
        @Html.ValidationMessageFor(model => model.WorkerEmail)
    </div>
    <p>
        Post
    </p>
    <div>
        <label>
            <input type="radio" name="post" value="Cock" />
            @Html.Raw("Cook")
        </label>
    </div>
    <div>
        <label>
            <input type="radio" name="post" value="Manager" />
            @Html.Raw("Manager")
        </label>
    </div>
    <div>
        <label>
            <input type="radio" name="post" value="Director" />
            @Html.Raw("Director")
        </label>
    </div>
    <div class="form-group">
        <input type="password" asp-for="WorkerPassword" class="form-input" id="password" placeholder=" " />
        <label for="password" class="form-label">Password</label>
        @Html.ValidationMessageFor(model => model.WorkerPassword)
    </div>
    
    <div class="form-group">
        <input type="password" asp-for="WorkerDuplicatePassword" class="form-input" id="passwordDub" placeholder=" " />
        <label for="passwordDub" class="form-label">Duplicate Password</label>
        @Html.ValidationMessageFor(model => model.WorkerDuplicatePassword)
    </div>




    <button class="form-button-reg" asp-action="NewIndex" type="submit">Registration</button>
</form>
<img src="~/image/4.png" alt="EROR" class="png-fon-reg" />